<nav class="navbar navbar-expand-md bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand text-white">
      <span class="brand">Scissor</span></a
    >
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#faqs" class="nav-link">FAQs</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="btn btn-light"
            type="button"
            href="#"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            >Login</a
          >
        </li>
        <li class="nav-item ms-5">
          <a
            class="btn btn-outline-light text-uppercase btn-md px-3"
            role="button"
            title="sign up for free"
            data-bs-toggle="modal"
            data-bs-target="#registerModal"
            >sign up for free</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
